/**
* @author Jackson Kwan
*/
body {
    background-image: url("../images/swanson.jpg");
    font-family: 'Roboto Mono', monospace;
}

#quote {
    width:30%;
    font-size: 30px;
    font-weight: bold;
    border: solid 1px black;
    text-align: justify;
    white-space:pre;
    padding:16px;
}

#cont {
    margin-top:300px;
    margin-left:100px;
}

#focus {
    color: white;
}
footer {
    position: absolute;
    bottom:0;
    color:white;
    font-size: 20px;

}



/*image taken from https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.inc.com%2Fed-zitron%2Fpr-buzzwords-vs-ron-swanson.html&psig=AOvVaw3xDmKzX_-dGfG1dPyf0utU&ust=1605293977294000&source=images&cd=vfe&ved=0CA0QjhxqFwoTCLDyt5zY_ewCFQAAAAAdAAAAABAD*/